@import 'src/scss/colors';
@import 'src/scss/variables';

.footer {
  align-items: center;
  background-image: linear-gradient(to right, $dusty-gray 25%, transparent 0%);
  background-position: top;
  background-repeat: repeat-x;
  background-size: 0.25rem 1px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 100%;
  padding: 1.25rem 0;
  width: $content-width;
}

.link {
  transition: color $transition-duration $transition-function;

  &:hover,
  &:focus,
  &:active {
    color: $java;

    svg path {
      fill: $java;
    }
  }
}

.icon {
  height: 1.25rem;
  width: 1.25rem;

  path {
    fill: $cod-gray;
    transition: fill $transition-duration $transition-function;
  }
}

.social-media {
  align-items: center;
  display: flex;
  flex: 1 1;
  justify-content: flex-end;
}

@media screen and (max-width: $break-point) {
  // TODO fix this
  .social-media {
    justify-content: flex-start;
    margin-top: 1rem;
  }
}
