@import './colors';

@mixin base-text($font-size, $line-height) {
  font-size: $font-size;
  line-height: $line-height;
}

.title {
  color: $cod-gray;
  font-weight: 400;
  @include base-text(3.75rem, 3.75rem);
}

.small-title {
  color: $cod-gray;
  font-weight: 400;
  @include base-text(2rem, 2.375rem);
}

.big-text {
  color: $cod-gray;
  font-weight: 400;
  @include base-text(1.3125rem, 1.5rem);
}

.big-bold-text {
  color: $cod-gray;
  font-weight: 700;
  @include base-text(1.25rem, 1.5rem);
}

.base-text {
  color: $cod-gray;
  font-weight: 400;
  @include base-text(1rem, 1.1875rem);
}

.medium-text {
  font-weight: 300;
  @include base-text(0.875rem, 1.5rem);
}

.small-text {
  color: $cod-gray;
  font-weight: 300;
  @include base-text(0.75rem, 1.1875rem);
}

.fw-bold {
  font-weight: 700;
}

.fw-normal {
  font-weight: 400;
}

.fw-thin {
  font-weight: 300;
}

.text-center {
  text-align: center;
}

.white-color {
  color: $white;
}

@media screen and (max-width: 40rem) {
  .title {
    @include base-text(2.2rem, 1);
  }

  .small-title {
    @include base-text(1.6rem, 1.17);
  }

  .subtitle {
    @include base-text(1.2rem, 1.17);
  }

  .big-text {
    @include base-text(1.1rem, 1.15);
  }
}
